/*
    Document   : My Websites/vind.css
    Created on : 2015-04-28 08:27 PM
    Author     : osamahan999
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
h1{
text-align:center;
    
}
h2{
    text-align:center;
}